<div class="container" fxLayout fxLayout="column" fxLayoutAlign="center">
    <div fxFlex="100%" class="login" fxLayoutAlign="center">
        <mat-card>
            <mat-card-header>
                <mat-card-title>Reset password</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <form [formGroup]="resetePassword" (ngSubmit)="onSubmit()">
                    <div fxLayout fxLayout="column" fxLayoutAlign="center">
                        <div fxLayout="row" fxLayoutAlign="center">
                            <mat-form-field class="form-group" appearance="outline" fxLayout="column">
                                <mat-label for="username">Email</mat-label>
                                <input matInput formControlName="email" class="form-control">
                            </mat-form-field>
                        </div>
                    </div>
                    <hr>
                    <div fxLayout="row" fxLayoutAlign="center">
                        <button [disabled]="!resetePassword.valid"  class="standard-button" mat-raised-button type="submit">Reset</button>
                        <button class="standard-button" mat-raised-button (click)="onCancel()" type="reset">Cancel</button>
                    </div>
                </form>
            </mat-card-content>
        </mat-card>
    </div>
</div>
      