<div class="container" fxLayout fxLayout="column" fxLayoutAlign="center">
    <div fxFlex="100%" class="add-type" fxLayoutAlign="center">
        <mat-card>
            <mat-card-header>
                <div mat-card-avatar></div>
                <mat-card-title *ngIf="isOnAddPageMode">Add new genre</mat-card-title>
                <mat-card-title *ngIf="!isOnAddPageMode">Delete genre</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <form [formGroup]="addGenreForm" (ngSubmit)="onSubmit()" *ngIf="isOnAddPageMode">
                    <div fxLayout fxLayout="column" fxLayoutAlign="center">
                        <div fxLayout="row" fxLayoutAlign="center">
                            <mat-form-field class="form-group" appearance="outline" fxLayout="column">
                                <mat-label for="description">Genre name:*</mat-label>
                                <input matInput formControlName="genre" class="form-control">
                                <mat-error *ngIf="hasValue">This genre was already added</mat-error>
                            </mat-form-field>
                        </div>
                        <div fxLayout="row" fxLayoutAlign="center">
                            <mat-form-field class="form-group" appearance="outline" fxLayout="column">
                                <mat-label for="description">Description:*</mat-label>
                                <input matInput formControlName="description" class="form-control">
                            </mat-form-field>
                        </div>
                    </div>
                    <hr>
                    <div fxLayout="row" fxLayoutAlign="center">
                        <button [disabled]="!addGenreForm.valid" class="save-button" mat-raised-button type="submit">Save</button>
                        <button [disabled]="!addGenreForm.valid" class="save-button" mat-raised-button type="reset" click="onCancel()">Cancel</button>
                    </div>
                </form>
                <div *ngIf="isOnRemovePageMode">
                    <app-delete-genre [isOnAddPageMode]="isOnAddPageMode" [isOnRemovePageMode]="isOnRemovePageMode"></app-delete-genre>
                </div>
                <hr>
                <div class="mode" fxLayout fxLayout="column" fxLayoutAlign="center">
                    <div fxLayout="row" fxLayoutAlign="center">
                        <button class="mode-button" mat-raised-button (click)="onChangeMode()">
                            <span *ngIf="isOnAddPageMode">Delete</span>
                            <span *ngIf="!isOnAddPageMode">Add</span>
                        </button>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>