<form [formGroup]="deleteBookForm" (ngSubmit)="onSubmit()">
    <div  fxLayout fxLayout="column" fxLayoutAlign="center">
        <mat-form-field class="form-group" appearance="outline" fxLayout="column">
            <mat-label for="bookname">Book name:*</mat-label>
            <mat-select formControlName="bookName" class="form-control">
                <mat-option *ngFor="let book of booksList" [value]="topping">{{book}}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <hr>
    <div fxLayout="row" fxLayoutAlign="center">
        <button [disabled]="!deleteBookForm.valid" class="save-button" mat-raised-button type="submit">Save</button>
        <button [disabled]="!deleteBookForm.valid" class="save-button" mat-raised-button (click)="onCancel()" type="reset">Cancel</button>
    </div>
</form>