@import "src/styles.scss";

.container {
    margin-top: 100px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;

    .title {
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .book-action {
        color: $app-primary;
        cursor: pointer;
    }

    .book-action:disabled {
        color: $app-secondary;
        cursor: default;
    }

    .standard-button {
        margin-left: 0.2em;
        margin-right: 0.2em;
    }

    .standard-button:disabled {
        color: $app-secondary;
        background-color: $background-color;
    }
}