<div class="container">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Actualizeaza un quiz</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div fxLayout="row" fxLayoutAlign="center" class="mat-form-group">
                <mat-form-field class="form-group" appearance="outline" fxLayout="column">
                    <mat-label for="booksName">Selecteaza cartea:*</mat-label>
                    <input type="text" matInput  [formControl]="bookControl" [matAutocomplete]="auto">
                    <mat-autocomplete #auto="matAutocomplete">
                    <mat-option *ngFor="let book of filteredBook | async" [value]="book.name">
                        {{book.name}}
                    </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
            </div>
            <div fxLayout="row" fxLayoutAlign="center" class="mat-form-group" *ngIf="canShowQuestions">
                <mat-form-field class="form-group" appearance="outline" fxLayout="column">
                    <mat-label for="booksName">Select intrebarea:*</mat-label>
                    <input type="text" matInput  [formControl]="quizControl" [matAutocomplete]="auto">
                    <mat-autocomplete #auto="matAutocomplete">
                    <mat-option *ngFor="let quiz of filteredQuiz | async" [value]="quiz.question">
                        {{quiz.question}}
                    </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
            </div>
            <hr *ngIf="canShowContent">
            <form [formGroup]="addQuizForm" (ngSubmit)="onSubmit()" *ngIf="canShowContent">
                <div fxLayout fxLayout="column" fxLayoutAlign="center">
                    <div fxLayout="row" fxLayoutAlign="center" class="mat-form-group" *ngIf="canShowContent">
                        <mat-form-field class="form-group" appearance="outline" fxLayout="column">
                            <mat-label for="question">Intrebare:</mat-label>
                            <input matInput formControlName="question" class="form-control">
                        </mat-form-field>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="center" class="mat-form-group">
                        <mat-form-field class="form-group" appearance="outline" fxLayout="column">
                            <mat-label for="firstChoice">Prima varianta:</mat-label>
                            <input matInput formControlName="firstChoice" class="form-control">
                        </mat-form-field>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="center" class="mat-form-group">
                        <mat-form-field class="form-group" appearance="outline" fxLayout="column">
                            <mat-label for="secondChoice">A doua varianta:</mat-label>
                            <input matInput formControlName="secondChoice" class="form-control">
                        </mat-form-field>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="center" class="mat-form-group">
                        <mat-form-field class="form-group" appearance="outline" fxLayout="column">
                            <mat-label for="thirdChoice">A treia varianta:</mat-label>
                            <input matInput formControlName="thirdChoice" class="form-control">
                        </mat-form-field>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="center" class="mat-form-group">
                        <mat-form-field class="form-group" appearance="outline" fxLayout="column">
                            <mat-label for="fourthChoice">A patra varianta:</mat-label>
                            <input matInput formControlName="fourthChoice" class="form-control">
                        </mat-form-field>
                    </div>
                </div>
                <mat-label for="booksName">Selecteaza varianta corecta:*</mat-label>
                <div fxLayout fxLayout="row" fxLayoutAlign="center" class="mat-form-group selected-domain">
                    <div fxLayout fxLayout="column" *ngFor="let item of correctChoice | keyvalue">
                        <mat-radio-button [checked]="selected === item" (change)="selected = item">{{item.key}}</mat-radio-button>
                    </div>
                </div>
                <hr>
                <div fxLayout="row" fxLayoutAlign="center" class="mat-form-group">
                    <button [disabled]="!addQuizForm.valid" class="standard-button" mat-raised-button type="submit">
                        Salveaza
                    </button>
                    <button class="standard-button" mat-raised-button type="reset" 
                        (click)="onCancel()"> Anuleaza
                    </button>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
</div>