@import "src/styles.scss";

.container {
    margin-top: 60px;
    margin-bottom: 30px;
    width: 100%;
    z-index: 1;
    z-index: 1;

    .required-field {
        padding: 0%;
        margin: 0%;
    } 

    .signup {
        margin: 2em;
        display: flow-root;
    }

    .standard-button:disabled {
        color: $app-secondary;
            background-color: $background-color;
    }

}
