<div class="container" >
    <mat-card class="mat-card">
        <mat-card-header>
            <mat-card-title>Payment plan</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <mat-card class="inside-mat-card">
                <mat-card-header>
                    <mat-card-subtitle>5$ / Month</mat-card-subtitle>
                </mat-card-header>
                <div class="mat-form-group">
                    <button [disabled]="isPhysicalSubscriptions" class="large-button mat-form-group" mat-raised-button
                    (click)="onPhysicalSubscription()">Activate</button>
                </div>
            </mat-card>
        </mat-card-content>
    </mat-card>
</div>
