<mat-toolbar class="header">  
    <mat-toolbar-row>
        <div>
            <span class="home" (click)="onHomePage()">BookStoreCDL
                <img class="logo" src="assets/img/logo.png">
            </span>

        </div>
        <div class="right">
            <button *ngIf="isAdmin() && isLoggedId()" mat-button class="login" (click)="onAdminPage()">Admin</button>
            <button *ngIf="isLoggedId()" mat-button class="login" (click)="onBooksPage()">Books</button>
            <button *ngIf="!isLoggedId()" mat-button class="login" (click)="onLogin()">Log in</button>
            <button *ngIf="isLoggedId()" mat-button class="login" (click)="onLogout()">Log out</button>
            <button *ngIf="isLoggedId()" mat-button class="login" (click)="onAccountPage()">Account</button>
        </div>
    </mat-toolbar-row>
</mat-toolbar>