<mat-toolbar class="header">  
    <mat-toolbar-row>
        <div>
            <span class="home" (click)="onHomePage()">BookStoreCDL</span>
        </div>
        <div class="right">
            <button mat-button class="login" (click)="onAdminPage()">Admin</button>
            <button mat-button class="login" (click)="onBooksPage()">Books</button>
            <button mat-button class="login" (click)="onLoginPage()">Log in</button>
            <button mat-button class="login" (click)="onAccountPage()">Account</button>
        </div>
    </mat-toolbar-row>
</mat-toolbar>