<div class="container">
    <mat-card>
        <mat-card-header>
            <mat-card-title *ngIf="isOnAddPageMode">Add new book</mat-card-title>
            <mat-card-title *ngIf="!isOnAddPageMode">Delete book</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <form [formGroup]="addbookForm" (ngSubmit)="onSubmit()" *ngIf="isOnAddPageMode">
                <div fxLayout fxLayout="column" fxLayoutAlign="center">
                    <div fxLayout="row" fxLayoutAlign="center" class="mat-form-group">
                        <mat-form-field class="form-group" appearance="outline" fxLayout="column">
                            <mat-label for="bookname">Book Name:*</mat-label>
                            <input matInput formControlName="bookname" class="form-control">
                            <mat-error *ngIf="hasValue">This book was already added</mat-error>
                        </mat-form-field>
                        <mat-form-field class="form-group" appearance="outline" fxLayout="column">
                            <mat-label for="authorName">Author name:*</mat-label>
                            <mat-select [formControl]="selectedAuthors"  multiple>
                                <mat-option *ngFor="let author of authorsName" [value]="author">{{author}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="center" class="mat-form-group">
                        <mat-form-field class="form-group" appearance="outline" fxLayout="column">
                            <mat-label for="bookname">Pages:</mat-label>
                            <input matInput type="number" pattern="[0-9]*" formControlName="pages" class="form-control">
                        </mat-form-field>
                        <mat-form-field class="small-form" appearance="outline" fxLayout="column">
                            <mat-label for="bookname">Years:</mat-label>
                            <mat-select formControlName="year">
                                <mat-option *ngFor="let year of years" [value]="year">{{year}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field class="small-form" appearance="outline" fxLayout="column">
                            <mat-label for="bookname">Total books:</mat-label>
                            <input matInput type="number" pattern="[0-9]*" formControlName="pages" class="form-control">
                        </mat-form-field>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="center" class="mat-form-group">
                        <mat-form-field class="form-group" appearance="outline" fxLayout="column">
                            <mat-label for="genre">Genre:*</mat-label>
                            <mat-select [formControl]="selectedGenres" multiple>
                                <mat-option *ngFor="let genre of genresName" [value]="genre">{{genre}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="center" class="mat-form-group">
                        <mat-form-field class="form-group" appearance="outline" fxLayout="column">
                            <mat-label for="description">Description:*</mat-label>
                            <textarea matInput formControlName="description" class="form-control"></textarea>
                        </mat-form-field>
                    </div>
                    <div fxLayout="row">
                        <button class="large-button" mat-raised-button (click)="fileInput.click()" type='button'>
                            <span>Upload PDF:</span>
                            <input #fileInput type="file" style="display:none;" (change)="onPdfFileChange($event)" accept="application/pdf"/>
                        </button>
                        <mat-label>{{uploadedFileName ? uploadedFileName : 'No file was uploaded'}}</mat-label>
                    </div>
                    <div fxLayout="row">
                        <button class="large-button" mat-raised-button (click)="imageInput.click()" type='button'> 
                            <span>Upload Photo:</span>
                            <input #imageInput type="file" style="display:none;" (change)="onImgFileChange($event)" accept="image/*"/>
                        </button>
                        <mat-label>{{uploadedImgName ? uploadedImgName : 'No file was uploaded'}}</mat-label>
                    </div>
                </div>
                <hr>
                <div fxLayout="row" fxLayoutAlign="center" class="mat-form-group">
                    <button [disabled]="!addbookForm.valid" class="standard-button" mat-raised-button type="submit">
                        Save
                    </button>
                    <button [disabled]="!addbookForm.valid" class="standard-button" mat-raised-button type="reset" 
                        click="onCancel()"> Cancel
                    </button>
                </div>
            </form>
            <div *ngIf="isOnRemovePageMode" >
                <app-delete-book [isOnAddPageMode]="isOnAddPageMode" [isOnRemovePageMode]="isOnRemovePageMode">
                </app-delete-book>
            </div>
            <hr>
            <div fxLayout fxLayout="column" fxLayoutAlign="center" class="mat-form-group">
                <div fxLayout="row" fxLayoutAlign="center">
                    <button class="standard-button" mat-raised-button (click)="onChangeMode()">
                        <span *ngIf="isOnAddPageMode">Delete</span>
                        <span *ngIf="!isOnAddPageMode">Add</span>
                    </button>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</div>