<div class="container">
    <mat-tab-group class="mat-tab-group">
        <mat-tab class="mat-tab" label="Carti comandate">
            <app-ordered-books *ngIf="canShowContent"></app-ordered-books>
        </mat-tab>
        <mat-tab  label="Carti returnate" >
            <app-returned-books *ngIf="canShowContent"></app-returned-books>
        </mat-tab>
        <mat-tab label="Carti imprumutate">
            <app-unreturned-books *ngIf="canShowContent"></app-unreturned-books>
        </mat-tab>
    </mat-tab-group>
</div>