@import "src/styles.scss";

.container {
    margin-top: 60px;
    position: fixed;
    width: 100%;
    height: auto;
    z-index: 1;

    .required-field {
        padding: 0%;
        margin: 0%;
    } 

    .login {
        margin: 2em;
        display: flow-root;
    }

    .standard-button:disabled {
        color: $app-primary;
        background-color: #d9d9d9;
    }
}
