<div class="header">
    <app-header></app-header>
</div>
<div class="container" fxLayout fxLayout="column" fxLayoutAlign="center">
    <!-- <ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "small" color = "#fff" type = "pacman" [fullScreen] = "true">
        <p style="color: white" > Loading... </p>
    </ngx-spinner> -->
    <div fxFlex="100%" class="login" fxLayoutAlign="center">
        <mat-card class="mat-card">
            <mat-card-header>
                <div mat-card-avatar></div>
                <mat-card-title>Bookster</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <form [formGroup]="signinForm" (ngSubmit)="onSubmit()">
                    <div fxLayout fxLayout="column" fxLayoutAlign="center">
                        <div fxLayout="row" fxLayoutAlign="center">
                            <mat-form-field class="form-group" appearance="outline" fxLayout="column">
                                <mat-label for="email">Email</mat-label>
                                <input matInput formControlName="email" class="form-control">
                            </mat-form-field>
                        </div>
                        <div fxLayout="row" fxLayoutAlign="center">
                            <mat-form-field class="form-group" appearance="outline" fxLayout="column">
                                <mat-label for="password">Password</mat-label>
                                <input matInput formControlName="password" class="form-control" type="password">
                            </mat-form-field>
                        </div>
                    </div>
                    <hr>
                    <div fxLayout="row" fxLayoutAlign="center">
                        <button class="standard-button" mat-raised-button type="submit">Log in</button>
                        <button class="standard-button" mat-raised-button (click)="onCancel()">Cancel</button>
                    </div>
                    <hr>
                    <div fxLayout="row" fxLayoutAlign="center">
                        <button class="large-button" mat-raised-button (click)="onSignUpPage()">Create an account</button>
                        <button class="large-button" mat-raised-button (click)="onResetPasswordPage()">Reset password</button>
                    </div>
                </form>
            </mat-card-content>
        </mat-card>
    </div>

    
</div>
<div class="footer">
    <app-footer></app-footer>
</div>
      