mat-form-field.ng-invalid.ng-touched {
    border: 0px solid red;
    margin: 0%;
    padding: 0%;
}

.container {
    margin-top: 60px;
    position: fixed;
    width: 100%;
    height: auto;
    z-index: 1;

    .required-field {
        padding: 0%;
        margin: 0%;
    } 

    .login {
        margin: 2em;
        display: flow-root;
    }

    .form-group{
        width: 100%;
    }
    .login-buttons {
        color: #FFD700;
        background-color: #000000;
        margin: 1em;
        width: 100px;
    }

    .account-button {
        color: #FFD700;
        background-color: #000000;
        margin: 1em;
        width: auto;
    }
}
