<div class="container">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Adauga un nou gen literar</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <form [formGroup]="addGenreForm" (ngSubmit)="onSubmit()">
                <div fxLayout fxLayout="column" fxLayoutAlign="center" >
                    <div fxLayout="row" fxLayoutAlign="center" class="mat-form-group">
                        <mat-form-field class="form-group" appearance="outline" fxLayout="column">
                            <mat-label for="description">Nume:*</mat-label>
                            <input matInput formControlName="genre" class="form-control">
                        </mat-form-field>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="center" class="mat-form-group">
                        <mat-form-field class="form-group" appearance="outline" fxLayout="column">
                            <mat-label for="description">Descriere:*</mat-label>
                            <textarea matInput formControlName="description" class="form-control"></textarea>
                        </mat-form-field>
                    </div>
                </div>
                <hr>
                <div fxLayout="row" fxLayoutAlign="center" class="mat-form-group">
                    <button [disabled]="!addGenreForm.valid" class="standard-button" mat-raised-button type="submit">Salveaza</button>
                    <button [disabled]="!addGenreForm.valid" class="standard-button" mat-raised-button type="reset" (click)="onCancel()">Anuleaza</button>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
</div>