/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$app-primary: /*#FFD700;*/ 	#fae596;
$app-secondary: #173e43;
$background-color: #dddfd4;
$app-accent:  mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$app-warn:    mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$app-theme: mat-light-theme($app-primary, $app-accent, $app-warn);

// Include theme styles for core and each component used in your app.
body { 
    margin: 0; 
    padding: 0;
} 

html { background-color: $background-color; }

.mat-card {
    background-color: $app-primary;
    width: 500px;
    mat-label {
        color: $app-secondary;
    }
    mat-form-field {
        color: $app-secondary;
    }

}

.mat-card:not([class*=mat-elevation-z]) {
    box-shadow: 0 3px 3px 0 $app-secondary, 
                0 3px 3px 0 $app-secondary;
}

.form-group{
    width: 100%;
    margin: 0.5em;
}

.mat-tab {
    margin: 2.5em;
}

.mat-form-group {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    mat-form-field {
        margin: 0.5em;
    }
}

.icon-button {
    color: $app-primary;
    background-color: $app-secondary;
}

.icon-card {
    color: $app-primary;
    background-color: $app-secondary;
    width: 45px;
    height: 45px;
    cursor: pointer;
}

.book-card {
    width: 250px;
    height: 200px;
    background-color: $app-primary;
    margin: 0.5em;
    .book-card-content {
        display: flow-root;
    }
}

.small-book-card {
    width: 250px;
    height: 130px;
    background-color: $app-primary;
    margin: 0.5em;
    .book-card-content {
        margin: 0.2em;
        display: flow-root;
    }
}

.standard-button {
    color: $app-primary;
    background-color: $app-secondary;
    margin: 1em;
    width: 100px;
}
.standard-button:disabled {
    color: $app-primary;
    background-color: #d9d9d9;
}
.standard-button:hover {
    color: $app-primary;
    background-color: #000000;
}

.large-button {
    color: $app-primary;
    background-color: $app-secondary;
    margin: 1em;
    width: 150px;
}
.large-button:disabled {
    color: $app-primary;
    background-color: #d9d9d9;
}
.large-button:hover {
    color: $app-primary;
    background-color: #000000;
}
