<div class="container">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Sterge o intrebare</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div fxLayout="row" fxLayoutAlign="center" class="mat-form-group">
                <mat-form-field class="form-group" appearance="outline" fxLayout="column">
                    <mat-label for="booksName">Selecteaza cartea:*</mat-label>
                    <input type="text" matInput  [formControl]="bookControl" [matAutocomplete]="auto">
                    <mat-autocomplete #auto="matAutocomplete">
                    <mat-option *ngFor="let book of filteredBook | async" [value]="book.name">
                        {{book.name}}
                    </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
            </div>
            <div fxLayout="row" fxLayoutAlign="center" class="mat-form-group" *ngIf="canShowQuestions">
                <mat-form-field class="form-group" appearance="outline" fxLayout="column">
                    <mat-label for="booksName">Selecteaza o intrebare:*</mat-label>
                    <input type="text" matInput  [formControl]="quizControl" [matAutocomplete]="auto">
                    <mat-autocomplete #auto="matAutocomplete">
                    <mat-option *ngFor="let quiz of filteredQuiz | async" [value]="quiz.question">
                        {{quiz.question}}
                    </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
            </div>
            <div fxLayout="row" fxLayoutAlign="center" class="mat-form-group">
                <button class="standard-button" mat-raised-button type="submit" (click)="onDelete()">
                    Sterge
                </button>
                <button class="standard-button" mat-raised-button type="reset" 
                    click="onCancel()"> Anuleaza
                </button>
            </div>
        </mat-card-content>
    </mat-card>
</div>