<mat-toolbar class="header">  
    <mat-toolbar-row>
        <div>
            <!-- <span class="home" (click)="onHomePage()">BookStore
                <img class="logo" src="assets/img/logo.png">
            </span> -->
            
            <button title="Home" class="home icon-button" mat-icon-button (click)="onHomePage()">
                <mat-icon>local_library</mat-icon>
            </button>
        </div>
        
        <div class="right">
            <button title="Menu" class="icon-button" mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>list</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
                <!-- admin -->
                <button *ngIf="isAdmin() && isLoggedId()" mat-menu-item class="standard-button" (click)="onAdminPage()">Modifica</button>
                <button *ngIf="isAdmin() && isLoggedId()" mat-menu-item class="standard-button" (click)="onAddQuizPage()">Quiz</button>
                <button *ngIf="isAdmin() && isLoggedId()" mat-menu-item class="standard-button" (click)="onManaagementPage()">Clienti</button>
                <button *ngIf="isAdmin() && isLoggedId()" mat-menu-item class="standard-button">BookStore</button>
                <!-- user -->
                <button *ngIf="isUser() && isLoggedId()" mat-menu-item class="standard-button" (click)="onBooksPage()">BookStore</button>
                <button *ngIf="isUser() && isLoggedId()" mat-menu-item class="standard-button" (click)="onTakeQuizPage()">Quiz</button>
                <button *ngIf=" isUser() && isLoggedId()" mat-menu-item class="standard-button" (click)="onLibraryPagePage()">Librarie</button>
                <button *ngIf=" isUser() && isLoggedId()" mat-menu-item class="standard-button" (click)="onEBookPage()">E-Librarie</button>
                <button *ngIf=" isUser() && isLoggedId()" mat-menu-item class="standard-button" (click)="onWishlistPage()">Favorite</button>
                <button *ngIf=" isUser() && isLoggedId()" mat-menu-item class="standard-button" (click)="onLoanedPage()">Imprumutate</button>
                <button *ngIf=" isUser() && isLoggedId()" mat-menu-item class="standard-button" (click)="onProfilePage()">Profil</button>
                <!-- business -->
                <button *ngIf=" isBusiness() && isLoggedId()" mat-menu-item class="standard-button" (click)="onBusinessProfilePage()">Profil</button>
                <!-- both -->
                <button *ngIf="!isLoggedId()" mat-menu-item class="standard-button" (click)="onLogin()">Log in</button>
                <button *ngIf="isLoggedId()" mat-menu-item class="standard-button" (click)="onLogout()">Log out</button>
                
            </mat-menu>
        </div>
    </mat-toolbar-row>
</mat-toolbar>