<mat-toolbar class="header">  
    <mat-toolbar-row>
        <div>
            <span class="home" (click)="onHomePage()">BookStore
                <img class="logo" src="assets/img/logo.png">
            </span>

        </div>
        <div class="right">
            <button class="standard-button" mat-button [matMenuTriggerFor]="menu">Menu</button>
            <mat-menu #menu="matMenu" xPosition="before">
                <button *ngIf="isAdmin() && isLoggedId()" mat-menu-item class="standard-button" (click)="onAdminPage()">Admin</button>
                <button *ngIf="isLoggedId()"mat-menu-item class="standard-button" (click)="onBooksPage()">Books</button>
                <button *ngIf="!isLoggedId()" mat-menu-item class="standard-button" (click)="onLogin()">Log in</button>
                <button *ngIf="isLoggedId()" mat-menu-item class="standard-button" (click)="onLogout()">Log out</button>
                <button *ngIf="isLoggedId()" mat-menu-item class="standard-button" (click)="onAccountPage()">Profile</button>
            </mat-menu>
        </div>
    </mat-toolbar-row>
</mat-toolbar>