<div class="container">
    <mat-card class="mat-card">
        <mat-card-header>
            <mat-card-title>Activare abonament</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <form [formGroup]="addEmployeeForm" (ngSubmit)="onSubmit()">
                <div fxLayout fxLayout="column" fxLayoutAlign="center">
                    <div fxLayout fxLayout="row" fxLayoutAlign="center" class="mat-form-group">
                        <mat-form-field class="form-group"  appearance="outline" fxLayout="column">
                            <mat-label for="firstName">Adauga angajat (email):*</mat-label>
                            <input formControlName="email" matInput class="form-control" [disabled]="isBusinessSubscription">
                        </mat-form-field>
                        <button class="book-action" mat-icon-button type="submit" [disabled]="!addEmployeeForm.valid"
                            [disabled]="isBusinessSubscription">
                            <mat-icon>person_add</mat-icon>
                        </button>
                    </div>
                </div>
            </form>
            <div class="mat-form-group">
                <mat-form-field style="display: block;" class="form-group" appearance="outline"  fxLayout fxLayout="row" fxLayoutAlign="center">
                    <mat-label for="firstName">Sterge angajat:</mat-label>
                    <input type="text" matInput  [matAutocomplete]="auto" [formControl]="employeeControl" [disabled]="isBusinessSubscription"> 
                </mat-form-field>
                
                <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                    <mat-option *ngFor="let employee of filteredEmployee | async" [value]="selectedEmployees">
                        <div (click)="optionClicked($event, employee)">
                            <mat-checkbox [checked]="employee.isSelected" (change)="toggleEmployeeSelection(employee)" 
                            (click)="$event.stopPropagation()">{{ employee.email }}</mat-checkbox>
                        </div>
                    </mat-option>
                </mat-autocomplete>
                <button class="book-action" mat-icon-button (click)="deleteEmployeesRequest()" 
                    [disabled]="isBusinessSubscription">
                    <mat-icon>remove_circle</mat-icon>
                </button>
            </div>
            <hr>
            <div class="mat-form-group">
                <button [disabled]="isBusinessSubscription" class="standard-button" 
                    mat-raised-button (click)="onActivateSubscription()">Activate</button>
            </div>
            <div class="mat-form-group">
                <span aria-disabled="true"> 25 RON x {{employeesLength}} </span>
            </div>
           
        </mat-card-content>
    </mat-card>
</div>
