<div class="container" fxLayout fxLayout="column" fxLayoutAlign="center">
    <div fxFlex="100%" class="add-book" fxLayoutAlign="center">
        <mat-card>
            <mat-card-header>
                <div mat-card-avatar></div>
                <mat-card-title *ngIf="isOnAddPageMode">Add new book</mat-card-title>
                <mat-card-title *ngIf="!isOnAddPageMode">Delete book</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <form [formGroup]="addbookForm" (ngSubmit)="onSubmit()" *ngIf="isOnAddPageMode">
                    <div fxLayout fxLayout="column" fxLayoutAlign="center">
                        <div fxLayout="row" fxLayoutAlign="center">
                            <mat-form-field class="form-group" appearance="outline" fxLayout="column">
                                <mat-label for="bookname">Book Name:*</mat-label>
                                <input matInput formControlName="bookname" class="form-control">
                            </mat-form-field>
                        </div>
                        <div fxLayout="row" fxLayoutAlign="center" >
                            <mat-form-field class="form-group" appearance="outline" fxLayout="column">
                                <mat-label for="authorName">Author name:*</mat-label>
                                <mat-select [formControl]="selectedAuthors"  multiple>
                                    <mat-option *ngFor="let author of authorList" [value]="author">{{author}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div fxLayout="row" fxLayoutAlign="center">
                            <mat-form-field class="form-group" appearance="outline" fxLayout="column">
                                <mat-label for="type">Type:*</mat-label>
                                <mat-select [formControl]="selectedTypes" multiple>
                                    <mat-option *ngFor="let type of typeList" [value]="type">{{type}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div fxLayout="row" fxLayoutAlign="center">
                            <mat-form-field class="form-group" appearance="outline" fxLayout="column">
                                <mat-label for="description">Description:*</mat-label>
                                <input matInput formControlName="description" class="form-control">
                            </mat-form-field>
                        </div>
                    </div>
                    <hr>
                    <div fxLayout="row" fxLayoutAlign="center">
                        <button class="save-button" mat-raised-button type="submit">Save</button>
                        <button [disabled]="!addbookForm.valid" class="save-button" mat-raised-button type="reset" click="onCancel()">Cancel</button>
                    </div>
                </form>
                <div *ngIf="isOnRemovePageMode">
                    <app-deletebook [isOnAddPageMode]="isOnAddPageMode" [isOnRemovePageMode]="isOnRemovePageMode"></app-deletebook>
                </div>
                <hr>
                <div class="mode" fxLayout fxLayout="column" fxLayoutAlign="center" >
                    <div fxLayout="row" fxLayoutAlign="center">
                        <button class="mode-button" mat-raised-button (click)="onChangeMode()">
                            <span *ngIf="isOnAddPageMode">Delete</span>
                            <span *ngIf="!isOnAddPageMode">Add</span>
                        </button>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>