<div class="container" fxLayout fxLayout="column" fxLayoutAlign="center">
    <div fxFlex="100%" class="add-book" fxLayoutAlign="center">
        <mat-card>
            <mat-card-header>
                <div mat-card-avatar></div>
                <mat-card-title *ngIf="isOnAddPageMode">Add new book</mat-card-title>
                <mat-card-title *ngIf="!isOnAddPageMode">Delete book</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <form [formGroup]="addbookForm" (ngSubmit)="onSubmit()" *ngIf="isOnAddPageMode">
                    <div formGroupName="bookData" fxLayout fxLayout="column" fxLayoutAlign="center">
                        <div fxLayout="row" fxLayoutAlign="center">
                            <mat-form-field class="form-group" appearance="outline" fxLayout="column">
                                <mat-label for="bookname">Book Name:*</mat-label>
                                <input matInput placeholder="Placeholder"
                                type="text"
                                id="bookname"
                                formControlName="bookname"
                                class="form-control">
                            </mat-form-field>
                            <span
                            *ngIf="!addbookForm.get('bookData.bookname').valid && addbookForm.get('bookData.bookname').touched"
                            class="help-block">
                            </span>
                        </div>
                        <div fxLayout="row" fxLayoutAlign="center">
                            <mat-form-field class="form-group" appearance="outline" fxLayout="column">
                                <mat-label for="authorname">Author name:*</mat-label>
                                <mat-select formArrayName="authorname" multiple>
                                    <mat-option *ngFor="let type of typeList" [value]="topping">{{type}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                            <span
                            *ngIf="!addbookForm.get('bookData.authorname').valid && addbookForm.get('bookData.authorname').touched &&
                            addbookForm.get('bookData.authorname').touched"  class="help-block">
                            </span>
                        </div>
                        <div fxLayout="row" fxLayoutAlign="center">
                            <mat-form-field class="form-group" appearance="outline" fxLayout="column">
                                <mat-label for="type">Type:*</mat-label>
                                <mat-select formArrayName="type" multiple>
                                    <mat-option *ngFor="let type of typeList" [value]="topping">{{type}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                            <span
                            *ngIf="!addbookForm.get('bookData.type').valid && addbookForm.get('bookData.type').touched"
                            class="help-block">
                            </span>
                        </div>
                        <div fxLayout="row" fxLayoutAlign="center">
                            <mat-form-field class="form-group" appearance="outline" fxLayout="column">
                                <mat-label for="description">Description:*</mat-label>
                                <input matInput placeholder="Placeholder"
                                type="text"
                                id="description"
                                formControlName="description"
                                class="form-control">
                            </mat-form-field>
                            <span
                            *ngIf="!addbookForm.get('bookData.description').valid && addbookForm.get('bookData.description').touched"
                            class="help-block">
                            </span>
                        </div>
                    </div>
                    <hr>
                    <div fxLayout="row" fxLayoutAlign="center">
                        <button class="save-button" mat-raised-button type="submit">Save</button>
                        <button class="save-button" mat-raised-button click="onCancel()">Cancel</button>
                    </div>
                </form>
                <div *ngIf="isOnRemovePageMode">
                    <app-deletebook [isOnAddPageMode]="isOnAddPageMode" [isOnRemovePageMode]="isOnRemovePageMode"></app-deletebook>
                </div>
                <hr>
                <div class="mode" fxLayout fxLayout="column" fxLayoutAlign="center" >
                    <div fxLayout="row" fxLayoutAlign="center">
                        <button class="mode-button" mat-raised-button (click)="onChangeMode()">
                            <span *ngIf="isOnAddPageMode">Delete</span>
                            <span *ngIf="!isOnAddPageMode">Add</span>
                        </button>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>