 <div fxLayout="row wrap" class="container" *ngIf="canShowContent">
    <div fxFlex *ngFor="let book of obs | async">
        <mat-card class="book-card">
            <mat-card-header>
                <div mat-card-avatar class="icon-card" [ngStyle]="{'background-image': 'url(' + book.authors[0].uiImage + ')'}"></div>
                <mat-card-title>{{book.name}}</mat-card-title>
                <mat-card-subtitle class="truncate">
                    <span *ngFor="let author of book.authors">
                        {{author.name}};
                    </span>
                </mat-card-subtitle>
            </mat-card-header>
            <img class="book-image" mat-card-image [src]="book.uiImage" alt="">
            <mat-card-content class="book-card-content">
                <p> <b>Rating:</b> {{book.rating}} / {{book.votes}} </p>
                <p> <b>Year:</b> {{book.year}} </p>
                <p> <b>Genre:</b> 
                <span *ngFor="let genre of book.genres" class="truncate">
                    {{genre.name}};
                </span>
                </p>
            </mat-card-content>
            <mat-card-actions  style="text-align: center;">
                <div fxLayout fxLayout="column" >
                    <button mat-button class="standard-button" (click)="onShowBookDetails(book)">Details</button>
                    <button class="book-action" title="Remove from wishlist" mat-icon-button [disabled]="false" (click)="onRemoveFromWishlist(book)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </div>
            </mat-card-actions>
        </mat-card>
    </div>
</div>
<mat-paginator [length]="books" [pageSize]="12" ></mat-paginator>

