.container {
    position: fixed;

    .required-field {
        padding: 0%;
        margin: 0%;
    } 

    .add-author {
        margin: 2em;
        display: flow-root;
    }

    .form-group{
        width: 100%;
    }

    .save-button {
        color: #FFD700;
        background-color: #000000;
        margin: 1em;
        width: 100px;
    }
    .save-button:disabled {
        color: #FFD700;
        background-color: #707B7C ;
    }
}

.mode {
    bottom: 80px;
    .mode-button {
        color: #FFD700;
        background-color: #000000;
        margin: 1em;
        width: 120px;
    }
}