.container {
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: center;

    .admin {
        margin: 2em;
        display: flow-root;
    }

    .standard-button {
        color: #FFD700;
        background-color: #000000;
        margin: 1em;
        width: 120px;
    }

    .standard-button:disabled {
        color: #FFD700;
        background-color: #A9A9A9;
    }
}