<div class="header">
    <app-header></app-header>
</div>
<div class="container" fxLayout fxLayout="row" fxLayoutAlign="center" fxFlex="50%">
    <div >
        <button class="standard-button" [disabled]="isBookAction" mat-raised-button (click)="onChangeBookAction()">Add book</button>
        <button class="standard-button" [disabled]="isAuthorAction" mat-raised-button (click)="onChangeAuthorAction()">Add author</button>
        <button class="standard-button" [disabled]="isTypeAction" mat-raised-button (click)="onChangeGenreAction()">Add type</button>
    
        <app-add-book *ngIf="isBookAction"></app-add-book>
        <app-add-author *ngIf="isAuthorAction"></app-add-author>
        <app-add-genre *ngIf="isGenreAction"></app-add-genre>
    </div>
</div>
<div class="footer">
    <app-footer></app-footer>
</div>