<form [formGroup]="deleteTypeForm" (ngSubmit)="onSubmit()">
    <div fxLayout fxLayout="column" fxLayoutAlign="center">
            <mat-form-field class="form-group" appearance="outline" fxLayout="column">
                <mat-label for="typename">Type name:*</mat-label>
                <mat-select formControlName="typeName" class="form-control">
                    <mat-option *ngFor="let type of typeList" [value]="type">{{type}}</mat-option>
                </mat-select>
            </mat-form-field>
    </div>
    <hr>
    <div fxLayout="row" fxLayoutAlign="center">
        <button [disabled]="!deleteTypeForm.valid" class="save-button" mat-raised-button type="submit">Save</button>
        <button [disabled]="!deleteTypeForm.valid" class="save-button" mat-raised-button click="onCancel()" type="reset">Cancel</button>
    </div>
</form>