<form [formGroup]="deleteAuthorForm" (ngSubmit)="onSubmit()">
    <div fxLayout fxLayout="column" class="mat-form-group">
        <mat-form-field class="form-group" appearance="outline" fxLayout="column">
            <mat-label for="authorname">Author name:*</mat-label>
            <mat-select formControlName="authorName" class="form-control">
                <mat-option *ngFor="let author of authorList" [value]="author">{{author}}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <hr>
    <div fxLayout="row" class="mat-form-group">
        <button [disabled]="!deleteAuthorForm.valid" class="standard-button" mat-raised-button type="submit">Save</button>
        <button [disabled]="!deleteAuthorForm.valid" class="standard-button" mat-raised-button (click)="onCancel()" type="reset">Cancel</button>
    </div>
</form>