<div class="container">
  <mat-form-field class="input-table" appearance="outline">
    <mat-label>Nume:</mat-label>
    <input matInput (keyup)="applyFilter($event.target.value)" >
  </mat-form-field>
  <div class="mat-elevation-z8" >
      <mat-table #table  [dataSource]="dataSource" >
      
        <!-- Client name Column -->
        <ng-container matColumnDef="name" sticky>
          <mat-header-cell *matHeaderCellDef> Nume angajat </mat-header-cell>
          <mat-cell *matCellDef="let element" class="truncate-cell"> {{element.name}} </mat-cell>
        </ng-container>
      
        <!-- Book name Column -->
        <ng-container matColumnDef="email" sticky>
          <mat-header-cell *matHeaderCellDef> Email </mat-header-cell>
          <mat-cell *matCellDef="let element" class="truncate-cell"> {{element.email}} </mat-cell>
        </ng-container>
  
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
      <mat-paginator [length]="contentLength" [pageSize]="20" showFirstLastButtons></mat-paginator>
  </div>
    
</div>