<div *ngIf="canShowContent" class="mat-elevation-z8" >
    <mat-table #table  [dataSource]="dataSource" >
    
      <!-- Client name Column -->
      <ng-container matColumnDef="clientName" >
        <mat-header-cell *matHeaderCellDef> Client name </mat-header-cell>
        <mat-cell *matCellDef="let element" class="truncate-cell"> {{element.clientName}} </mat-cell>
      </ng-container>
    
      <!-- Book name Column -->
      <ng-container matColumnDef="bookName">
        <mat-header-cell *matHeaderCellDef> Book name </mat-header-cell>
        <mat-cell *matCellDef="let element" class="truncate-cell"> {{element.bookName}} </mat-cell>
      </ng-container>
    
      <!-- Address Column -->
      <ng-container matColumnDef="address">
        <mat-header-cell *matHeaderCellDef> Address </mat-header-cell>
        <mat-cell *matCellDef="let element" class="truncate-cell"> {{element.address}} </mat-cell>
      </ng-container>
    
      <!-- City Column -->
      <ng-container matColumnDef="city">
        <mat-header-cell *matHeaderCellDef> City </mat-header-cell>
        <mat-cell *matCellDef="let element" class="truncate-cell"> {{element.city}} </mat-cell>
      </ng-container>
  
      <!-- District Column -->
      <ng-container matColumnDef="district">
          <mat-header-cell *matHeaderCellDef> District </mat-header-cell>
          <mat-cell *matCellDef="let element" class="truncate-cell"> {{element.district}} </mat-cell>
      </ng-container>
  
      <!-- Email Column -->
      <ng-container matColumnDef="email">
          <mat-header-cell *matHeaderCellDef> Email </mat-header-cell>
          <mat-cell *matCellDef="let element" class="truncate-cell"> {{element.email}} </mat-cell>
      </ng-container>
  
      <!-- Phone number Column -->
      <ng-container matColumnDef="phoneNumber">
          <mat-header-cell *matHeaderCellDef> Phone number </mat-header-cell>
          <mat-cell *matCellDef="let element" class="truncate-cell"> {{element.phoneNumber}} </mat-cell>
      </ng-container>

      <!-- Return date Column -->
      <ng-container matColumnDef="returnDate">
        <mat-header-cell *matHeaderCellDef> Return date </mat-header-cell>
        <mat-cell *matCellDef="let element" class="truncate-cell"> {{getDataFormat(element.dateToReturn)}} </mat-cell>
    </ng-container>

      <!-- Returned book Column -->
      <ng-container matColumnDef="returnedBook" >
        <mat-header-cell *matHeaderCellDef> Returned </mat-header-cell>
        <mat-cell *matCellDef="let element" class="truncate-cell"> 
          <button class="book-action" mat-icon-button (click)="onReturnBook(element)">
            <mat-icon>check</mat-icon>
          </button>
        </mat-cell>
      </ng-container>
    
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <mat-paginator [length]="managementService.returnedBooks.length" [pageSize]="20" showFirstLastButtons></mat-paginator>
  </div>
  