<form [formGroup]="deleteBookForm" (ngSubmit)="onSubmit()">
    <div formGroupName="bookData" fxLayout fxLayout="column" fxLayoutAlign="center">
        <div fxLayout="row" fxLayoutAlign="center">
            <mat-form-field class="form-group" appearance="outline" fxLayout="column">
                <mat-label for="bookname">Book name:*</mat-label>
                <mat-select placeholder="Placeholder"
                type="text"
                id="bookname"
                formControlName="bookname"
                class="form-control">
                    <mat-option  *ngFor="let book of booksList" [value]="topping">{{book}}</mat-option>
                </mat-select>
            </mat-form-field>
            <span
            *ngIf="!deleteBookForm.get('bookData.bookname').valid && deleteBookForm.get('bookData.bookname').touched &&
            deleteBookForm.get('bookData.bookname').touched"  class="help-block">
            </span>
        </div>
    </div>
    <hr>
    <div fxLayout="row" fxLayoutAlign="center">
        <button class="save-button" mat-raised-button type="submit">Save</button>
        <button class="save-button" mat-raised-button click="onCancel()">Cancel</button>
    </div>
</form>