@import "src/styles.scss";

.footer {
    background-color: $app-primary;
    padding: 0%;
    margin: 0%;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 20px;
    z-index: 100;
    b {
        font-family: "Papyrus", fantasy;
    }
    
}