<div class="header">
    <app-header></app-header>
</div>

<div class="container">
    <div >
        <mat-tab-group (selectedTabChange)="onMatTabChange($event)">
            <mat-tab class="mat-tab" label="Details">
                <app-details *ngIf="userDetailsService.isLoadedInitialData"></app-details>
            </mat-tab>
            <mat-tab label="Payment">
                <app-payment *ngIf="userDetailsService.isLoadedInitialData"></app-payment>
            </mat-tab>
            <mat-tab label="Read List">
                <app-read-list *ngIf="userDetailsService.isLoadedInitialData"></app-read-list>
            </mat-tab>
            <mat-tab label="Loanned books">
                <app-loanned-books *ngIf="userDetailsService.isLoadedInitialData"></app-loanned-books>
            </mat-tab>
            <mat-tab label="Online books">
                <app-online-books *ngIf="userDetailsService.isLoadedInitialData"></app-online-books>
            </mat-tab>
          </mat-tab-group>
    </div>
</div>

<div class="footer">
    <app-footer></app-footer>
</div>
