<div class="header">
    <app-header></app-header>
</div>

<div class="container">
    <div >
        <mat-tab-group class="mat-tab-group">
            <mat-tab class="mat-tab" label="Details">
                <app-details *ngIf="userDetailsService.isLoadedInitialData"></app-details>
            </mat-tab>
            <mat-tab label="Payment">
                <app-payment *ngIf="userDetailsService.isLoadedInitialData"></app-payment>
            </mat-tab>
            <mat-tab label="Wishlist">
                <app-wishlist *ngIf="userDetailsService.isLoadedInitialData"></app-wishlist>
            </mat-tab>
            <mat-tab label="Loaned">
                <app-loanned-books *ngIf="userDetailsService.isLoadedInitialData"></app-loanned-books>
            </mat-tab>
            <mat-tab label="Online library">
                <app-online-books *ngIf="userDetailsService.isLoadedInitialData"></app-online-books>
            </mat-tab>
            <mat-tab label="Library">
            </mat-tab>
          </mat-tab-group>
    </div>
</div>

<div class="footer">
    <app-footer></app-footer>
</div>
