<div class="header">
    <app-header></app-header>
</div>

<div class="container">
    <div >
        <button class="large-button" [disabled]="isOnDetailsPage" mat-raised-button (click)="onDetailsPage()">Details</button>
        <button class="large-button" [disabled]="isOnPaymentPage" mat-raised-button (click)="onPaymentPage()">Payment</button>
        <button class="large-button" [disabled]="isOnReadListPage" mat-raised-button (click)="onReadListPage()">Read List</button>
        <button class="large-button" [disabled]="isOnLoannedBooksPage" mat-raised-button (click)="onLoannedBooksPage()">Loanned books</button>
        <button class="large-button" [disabled]="isOnOnlineBooksPage" mat-raised-button (click)="onOnlineBooksPage()">Online books</button>

        <app-details *ngIf="isOnDetailsPage"></app-details>
        <app-payment *ngIf="isOnPaymentPage"></app-payment>
        <app-read-list *ngIf="isOnReadListPage"></app-read-list>
        <app-loanned-books *ngIf="isOnLoannedBooksPage"></app-loanned-books>
        <app-online-books *ngIf="isOnOnlineBooksPage"></app-online-books>
    </div>
</div>

<div class="footer">
    <app-footer></app-footer>
</div>
