.container {
    width: 100%;
    margin-top: 60px;
    padding: 0%;
    margin: 0%;
      .logo {
        width: 100%;
        max-height: 500px;
      }
}

.about-us {
    margin: 2em;
    position: relative;
    z-index: 1;
    .card {
      margin: 2em;;
    }
}

