<div class="header">
    <app-header></app-header>
</div>
<mat-toolbar class="header"> 
    <mat-toolbar-row class="title-name">BookStore</mat-toolbar-row>
    <mat-toolbar-row class="title">“You can always edit a bad page. You can’t edit a blank page.” ― Jodi Picoult</mat-toolbar-row>
    <mat-toolbar-row class="title">
        <button *ngIf="!userSession.isLoggedIn()" mat-menu-item class="home-button" (click)="onLogin()">Log in</button>
        <button *ngIf="userSession.isLoggedIn()" mat-menu-item class="home-button" (click)="onLogout()">Log out</button>
    </mat-toolbar-row>
</mat-toolbar>
<div class="about-us" fxLayout="row" fxLayoutAlign="center center">
    <div fxLayout fxLayout="row" *ngFor="let quote of famousQuotes">
        <mat-card class="small-book-card">
            <mat-card-header>
              <mat-card-title>{{quote.author}}</mat-card-title>
            </mat-card-header>
            <mat-card-content class="book-card-content">
                <p>{{quote.quote}}</p>
              </mat-card-content>
          </mat-card>
    </div>
</div>
<div class="container" fxLayout fxLayoutAlign="center">
    <slideshow [imageUrls]="imageUrlArray" [showArrows]="true" [autoPlay]="true" [showDots]="true" [arrowSize]="'15px'">
    </slideshow>
</div>
<div class="about-us" fxLayout="row" fxLayoutAlign="center center" *ngIf="userSession.isLoggedIn() && userSession.isUser()">
    <div fxLayout fxLayout="row" *ngFor="let book of books">
        <mat-card class="book-card">
            <mat-card-header>
                <div *ngIf="book.authors[0].uiImage" mat-card-avatar class="icon-card" 
                    [ngStyle]="{'background-image': 'url(' + book.authors[0].uiImage + ')'}"></div>
                <div *ngIf="!book.authors[0].uiImage" mat-card-avatar class="icon-card"></div><mat-card-title>{{book.name}}</mat-card-title>
                <mat-card-subtitle class="truncate">
                    <span *ngFor="let author of book.authors">
                        {{author.name}};
                    </span>
                </mat-card-subtitle>
            </mat-card-header>
            <img class="book-image" mat-card-image [src]="book.uiImage ? book.uiImage : ''" alt="">
                <mat-card-content class="book-card-content">
                    <p> <b>Rating:</b> {{book.rating}} / {{book.votes}} </p>
                    <p> <b>An:</b> {{book.year}} </p>
                    <p> <b>Gen:</b> 
                    <span *ngFor="let genre of book.genres" class="truncate">
                        {{genre.name}};
                    </span>
                    </p>
                    <div fxLayout="row" fxLayoutAlign="center center">
                        <div fxLayout="column">
                            <button mat-button class="standard-button" (click)="onShowDetails(book)">Detalii</button>
                        </div>
                    </div>
                </mat-card-content>
          </mat-card>
    </div>
</div>
<div class="footer">
    <app-footer></app-footer>
</div>