@import "src/styles.scss";

.container {
    margin-top: 62px;
    width: 100%;
    height: 600px;
  
    slideshow {
      height: 100%;
      width: 100%;
      z-index: 1;
      background-color: $app-primary;
    }
}

.about-us {
    margin: 2em;
    .book-card {
      margin: 2.5em;
    }
}

