<div class="header">
    <app-header></app-header>
</div>
<mat-toolbar class="header"> 
    <mat-toolbar-row class="title-name">Bookstore</mat-toolbar-row>
    <mat-toolbar-row class="title">“You can always edit a bad page. You can’t edit a blank page.” ― Jodi Picoult</mat-toolbar-row>
    <mat-toolbar-row class="title">
        <button mat-menu-item class="home-button">Log in</button>
    </mat-toolbar-row>
</mat-toolbar>
<div class="about-us" fxLayout="row" fxLayoutAlign="center center">
    <div fxLayout fxLayout="row" *ngFor="let quote of famousQuotes">
        <mat-card class="small-book-card">
            <mat-card-header>
              <mat-card-title>{{quote.author}}</mat-card-title>
            </mat-card-header>
            <mat-card-content class="book-card-content">
                <p>{{quote.quote}}</p>
              </mat-card-content>
          </mat-card>
    </div>
</div>
<div class="container" fxLayout fxLayoutAlign="center">
    <slideshow [imageUrls]="imageUrlArray" [showArrows]="true" [autoPlay]="true" [showDots]="true" [arrowSize]="'15px'">
    </slideshow>
</div>
<div class="about-us" fxLayout="row" fxLayoutAlign="center center">
    <div fxLayout fxLayout="row" *ngFor="let book of books">
        <mat-card class="book-card">
            <mat-card-header>
                <div mat-card-avatar class="icon-card" [ngStyle]="{'background-image': 'url(' + book.uiImage + ')'}"></div>
              <mat-card-title>{{book.name}}</mat-card-title>
              <mat-card-subtitle class="truncate">
                  <span *ngFor="let author of book.authors">
                      {{author.name}};
                  </span>
              </mat-card-subtitle>
            </mat-card-header>
            <img class="book-image" mat-card-image [src]="book.uiImage" alt="">
            <mat-card-content class="book-card-content">
                <p> <b>Rating:</b> {{book.rating}} / {{book.votes}} </p>
                <p> <b>Year:</b> {{book.year}} </p>
                <p> <b>Genre:</b> 
                <span *ngFor="let genre of book.genres" class="truncate">
                    {{genre.name}};
                </span>
                </p>
              </mat-card-content>
            <mat-card-actions fxLayout="row" fxLayoutAlign="center center">
              <button mat-button class="standard-button">Details</button>
            </mat-card-actions>
          </mat-card>
    </div>
</div>
<div class="footer">
    <app-footer></app-footer>
</div>