@import "src/styles.scss";

pdf-viewer {
    display: block;
    height: 200vh;
    width: 100%;
    background-color: $app-primary;
}

.container {
    margin-top: 70px;
    margin-bottom: 30px;
    margin-right: 10px;
    margin-left: 10px;
}