@import "src/styles.scss";

.container {
    margin-top: 60px;
    margin-top: 30px;
    width: 100%;
    z-index: 1;

    .required-field {
        padding: 0%;
        margin: 0%;
    } 

    .signup {
        margin: 2em;
        display: flow-root;
    }

}
