<div class="container">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Add new book</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <form [formGroup]="addbookForm" (ngSubmit)="onSubmit()">
                <div fxLayout fxLayout="column" fxLayoutAlign="center">
                    <div fxLayout="row" fxLayoutAlign="center" class="mat-form-group">
                        <mat-form-field class="form-group" appearance="outline" fxLayout="column">
                            <mat-label for="bookname">Book Name:*</mat-label>
                            <input matInput formControlName="bookname" class="form-control">
                            <mat-error *ngIf="hasValue">This book was already added</mat-error>
                        </mat-form-field>
                        <mat-form-field class="form-group" appearance="outline" fxLayout fxLayout="row" fxLayoutAlign="center">
                            <mat-label for="bookname">Authors:*</mat-label>
                            <input type="text" matInput [matAutocomplete]="autoAuthor" [formControl]="authorControl"> 
                        </mat-form-field>
                        
                        <mat-autocomplete #autoAuthor="matAutocomplete" [displayWith]="displayFn">
                            <mat-option *ngFor="let author of filteredAuthors | async" [value]="selectedAuthors">
                                <div (click)="optionClicked($event, author)">
                                    <mat-checkbox [checked]="author.uiSelected" (change)="toggleAuthorSelection(author)" 
                                    (click)="$event.stopPropagation()">{{ author.name }}</mat-checkbox>
                                </div>
                            </mat-option>
                        </mat-autocomplete>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="center" class="mat-form-group">
                        <mat-form-field class="form-group" appearance="outline" fxLayout="column">
                            <mat-label for="bookname">Pages:</mat-label>
                            <input matInput type="number" pattern="[0-9]*" formControlName="pages" class="form-control">
                        </mat-form-field>
                        <mat-form-field class="small-form" appearance="outline" fxLayout="column">
                            <mat-label for="bookname">Years:</mat-label>
                            <mat-select formControlName="year">
                                <mat-option *ngFor="let year of years" [value]="year">{{year}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field class="small-form" appearance="outline" fxLayout="column">
                            <mat-label for="bookname">Total books:</mat-label>
                            <input matInput type="number" pattern="[0-9]*" formControlName="total" class="form-control">
                        </mat-form-field>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="center" class="mat-form-group">
                        <mat-form-field class="form-group" appearance="outline" fxLayout fxLayout="row" fxLayoutAlign="center">
                            <mat-label for="bookname">Genres:*</mat-label>
                            <input type="text" matInput  [matAutocomplete]="autoGenre" [formControl]="genreControl"> 
                        </mat-form-field>
                        
                        <mat-autocomplete #autoGenre="matAutocomplete" [displayWith]="displayFn">
                            <mat-option *ngFor="let genre of filteredGenres | async" [value]="selectedGenres">
                                <div (click)="optionClicked($event, genre)">
                                    <mat-checkbox [checked]="genre.uiSelected" (change)="toggleGenreSelection(genre)" 
                                    (click)="$event.stopPropagation()">{{ genre.name }}</mat-checkbox>
                                </div>
                            </mat-option>
                        </mat-autocomplete>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="center" class="mat-form-group">
                        <mat-form-field class="form-group" appearance="outline" fxLayout="column">
                            <mat-label for="description">Description:*</mat-label>
                            <textarea matInput formControlName="description" class="form-control"></textarea>
                        </mat-form-field>
                    </div>
                    <div fxLayout="row">
                        <button class="large-button" mat-raised-button (click)="fileInput.click()" type='button'>
                            <span>Upload PDF:</span>
                            <input #fileInput type="file" style="display:none;" (change)="onPdfFileChange($event)" accept="application/pdf"/>
                        </button>
                        <mat-label>{{uploadedFileName ? uploadedFileName : 'No file was uploaded'}}</mat-label>
                    </div>
                    <div fxLayout="row">
                        <button class="large-button" mat-raised-button (click)="imageInput.click()" type='button'> 
                            <span>Upload Photo:</span>
                            <input #imageInput type="file" style="display:none;" (change)="onImgFileChange($event)" accept="image/*"/>
                        </button>
                        <mat-label>{{uploadedImgName ? uploadedImgName : 'No file was uploaded'}}</mat-label>
                    </div>
                </div>
                <hr>
                <div fxLayout="row" fxLayoutAlign="center" class="mat-form-group">
                    <button [disabled]="!addbookForm.valid" class="standard-button" mat-raised-button type="submit">
                        Save
                    </button>
                    <button [disabled]="!addbookForm.valid" class="standard-button" mat-raised-button type="reset" 
                        click="onCancel()"> Cancel
                    </button>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
</div>